::ng-deep .weather-animation {
  left: 3px;
  top: 3px;
  width: 50% !important;
}

::ng-deep .animal-animation {
  position: absolute;
  right: 10px;
  bottom: 5px;
  width: 45% !important;
}

.hourly-slide {
  width: 80%;
  position: relative;
  box-shadow: -1px 2px 23px -17px rgba(0, 0, 0, 0.75);
  margin: 8px;
  border-radius: 5px;

  .text-info {
    margin: 1px !important;
    padding: 2px !important;
    }
  .details {
    width: 60% !important;
  }
  .animation {
    width: 40% !important;
  }
}

.btn-search {
  position: absolute;
  right: 5px;
}

ion-slide {
  padding: 0px;
  margin: 0px;
}
