<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="hourlyForecast">
    <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card (click)="onClickNotification()" *ngIf="!checkNotificationPermmitions()">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <ng-lottie [options]="{path: 'assets/lottie/notification.json'}">
                    </ng-lottie>
                </div>
                <div class="col-8">
                    <p>Activa las notificaciones para mantener informado</p>
                </div>
            </div>
        </div>
    </ion-card>
    <ion-card class="welcome-card">
        <ng-lottie
                containerClass="weather-animation"
                [options]="{path: getWeatherAnimation(this.currentlyWeather.icon)}"
        >
        </ng-lottie>

        <ng-lottie containerClass="animal-animation"
                   [options]="{path: getURLAnimalAnimation()}"
        >
        </ng-lottie>

        <ion-card-header>
            <ion-card-subtitle>{{weatherFullInfo ? weatherFullInfo.name : '--'}}</ion-card-subtitle>
            <ion-card-title><strong>{{weatherFullInfo ? weatherFullInfo.main.temp : '--'}} &#8451; <br/></strong>
                {{weatherFullInfo ? weatherFullInfo.weather[0].description : '--'}}</ion-card-title>
        </ion-card-header>
        <ion-card-content style="margin-top: -20px">
            <p class="ion-text-right">Temp Max: {{weatherFullInfo ? weatherFullInfo.main.temp_max : '--'}} &#8451;</p>
            <p class="ion-text-right">Temp Min: {{weatherFullInfo ? weatherFullInfo.main.temp_min : '--'}} &#8451;</p>
            <p class="ion-text-right">Humedad: {{weatherFullInfo ? weatherFullInfo.main.humidity : '--'}}%</p>
        </ion-card-content>
    </ion-card>

    <div>
        <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let hourlyInfo of hourlyForecast" class="hourly-slide">
                <div class="w-50 animation">
                    <ng-lottie
                            containerClass="hourly-animation"
                            [options]="{path: getWeatherAnimation(hourlyInfo.icon)}">
                    </ng-lottie>
                </div>
                <div class="w-50 details">
                    <h4 class="text-info">{{toHumanTime(hourlyInfo.time)}}</h4>
                    <p class="text-info">{{hourlyInfo.temperature}} &#8451;</p>
                    <p class="text-info">{{hourlyInfo.summary}}</p>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <ion-card class="m-2 p-2">
        <div class="w-50 float-left">
            <span>Buscando el clima de otras ciudades?</span>
        </div>
        <div class="w-25 float-right">
            <ion-button type="button" color="primary" class="btn-search" (click)="searchForecast()">Busca aqui!
            </ion-button>
        </div>
    </ion-card>
</ion-content>

<ion-content *ngIf="!hourlyForecast">
    <ion-card class="welcome-card">
        <ion-skeleton-text animated style="width: 100%; height: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 60%"></ion-skeleton-text>

        <ion-card-header>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content style="margin-top: -20px">
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-card-content>
    </ion-card>

    <div>
        <ion-slides>
            <ion-slide>
                <div class="w-50 animation">
                    <ion-skeleton-text animated style="width: 50%; height: 60%"></ion-skeleton-text>
                </div>
                <div class="w-50 details">
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="w-50 animation">
                    <ion-skeleton-text animated style="width: 50%; height: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%; height: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%; height: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%; height: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%; height: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%; height: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%; height: 60%"></ion-skeleton-text>
                </div>
                <div class="w-50 details">
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <ion-card class="m-2 p-2">
        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
    </ion-card>
</ion-content>
