<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Clima para las proximas horas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!!forecast && forecast.length > 0">
    <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-card *ngFor="let day of forecast">
            <ion-card-header [class]="getClassBackground(day.dt)">
                <h6>{{toHumanDate(day.dt_txt).date + ' ' + toHumanDate(day.dt_txt).time + 'hrs - ' + day.weather[0].description}}</h6>
                <ion-card-subtitle class="subtitle-container">
                    <div class="text-right">Temp max: {{day.main.temp_max}}</div>
                    <div class="text-right">Temp min: {{day.main.temp_min}}</div>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p>Velocidad del viento: {{day.wind.speed}}</p>
                <p>Humedad: {{day.main.humidity}}%</p>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>

<ion-content *ngIf="!!forecast && forecast.length == 0">
    <ng-lottie
            containerClass="empty-animation"
            [options]="{path: 'assets/lottie/empty.json'}"
    >
    </ng-lottie>
    <h6 class="text-center">Oh, parece que no tenemos resultados para mostrar</h6>

</ion-content>
<ion-content *ngIf="!forecast">
    <ion-card>
        <ion-card-header>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-card-content>
    </ion-card>
</ion-content>
