.empty-animation {
  width: 90%;
}
.subtitle-container {
  margin-top: -5px;
}
.purple-bk {
  background: #651fff;
  color: white;
}

.green-bk {
  background: #76ff03;
  color: black;
}

.yellow-bk {
  background: #ffeb3b;
  color: black;
}

.rose-bk {
  background: #d81b60;
  color: white;
}
